
h1{
    text-align: center;
}
header > h1{
    background-color: greenyellow;
}

#services{
    background-repeat: no-repeat;
    height: 50vh;
    
   
}
#logo > img{
    height: 50px;
    width: 50px;
   border-radius: 50%;
    
}

